@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    margin: 0;padding: 0;
    
}

.header{
    background: url(datavisBGimg.jpg);
    background-size: cover;
    width: 100vw;
    height: 90vh;
    background-attachment: fixed;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0;
    padding: 20px;
    top: 0;
    position: sticky;
    font-family: 'Oswald', sans-serif;
    
}
ul{
    display: flex;
}

li{
    margin: 0 10px;
    list-style: none;
}
a:link { 
    text-decoration: none;
 }


a:visited 
{ text-decoration: none; 
}


a:hover { 
    text-decoration: none; 
}


a:active { 
    text-decoration: none; 
}

.poster{
    padding: 0 20px;
}
body{
    scroll-behavior: smooth;
}
p{
    padding: 100px;
    line-height: 50px;
}
.white{
    background-color: transparent;
}
.link{
    border: 2px black ;
    margin: 20px;
    font-size: 29px;
    justify-content: space-between;
}
