:root {
  /* light mode */
  --light-background-color: hsl(0, 0%, 95%);
  --light-text-color: hsl(0, 0%, 0%);

  /* dark mode */
  --dark-background-color: hsl(0, 0%, 10%);
  --dark-text-color: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

.dark-mode {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

.dark-mode iframe {
  filter: invert(100%);
}

.dark-mode a {
  color: var(--dark-text-color);
}

.hidden {
  display: none;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background: linear-gradient(45deg, #4e54c8, #8f94fb, #4e54c8, #8f94fb);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientMove 3s linear infinite;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

@keyframes gradientMove {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 200% -100%;
  }
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}
.navbar__item:hover {
    color: #fff;
    text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
  }

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

body::-webkit-scrollbar {
  width: 11px;
}
.card:hover {
  background-color: rgb(132, 94, 144);
  transform: scale(1.1);
}

body::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgb(0, 35, 211) 70%);
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh rgb(45, 42, 42);
    border-radius: 8px;
}
.box {
  box-shadow: 0px 0px 4px ??? black;
}

.navbar__btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-height: 80px;
  font-size: 1rem;
  font-weight: 500;

}

.darkmode__toggle__icon {
  color: #fff;
  height: 20px;
  width: 20px;
  stroke-width: 1.8px;
  cursor: pointer;
  margin: 0px;
}

.button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
 background: rgb(70,242,255);
background: linear-gradient(90deg, rgba(70,242,255,1) 0%, rgba(121,150,253,1) 13%, rgba(152,94,251,1) 26%, rgba(175,92,196,1) 47%, rgba(202,90,131,1) 62%, rgba(248,76,34,1) 79%, rgba(255,123,0,1) 100%);
 background-size: 200% auto;
  transition: all 0.3s ease;
   min-height: 40px;
}
.button a{
  text-decoration: none;
  color: white;
}
.button:hover{
  background-position: right center;
  box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 2px;
}

.navbar__links:hover {
  color: white;
  transition: all 0.3s ease;

}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__links:hover {
    color: #c6e2ff;
    text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 40px;
    margin: 0;
    max-height: 80px;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */
.hero {
  padding: 200px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 30px;
  margin-bottom: 24px;
  cursor: default;
}

.hero__heading {
  background: #ee0979; /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  animation: hero__heading__animation 10s ease infinite;
  font-size: 4rem;
  
}


@keyframes hero__heading__animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    

.hero__description {
  font-size: 1.3rem;
  cursor: default;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 48px;
  }

  .hero__description {
    font-size: 16px;
  }
}

/* main section(embedded iframes)*/
.main {
  padding: 5rem 0;
}

.main__content h2 {
  font-size: 4rem;
  background: #ff8177; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1.8rem;
  background: rgb(70,242,255);
background: linear-gradient(90deg, rgba(70,242,255,1) 0%, rgba(121,150,253,1) 13%, rgba(152,94,251,1) 26%, rgba(175,92,196,1) 47%, rgba(202,90,131,1) 62%, rgba(248,76,34,1) 79%, rgba(255,123,0,1) 100%);
 background-size: 200% auto;
  padding: 20px 60px;
  border: none;
  border-radius: 8px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

.main__btn a {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: white;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /*background: linear-gradient(to right, #ff1ead 80%, #ff67c7 );*/
  background-position: right center;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
  background-position: right center;
      box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 2px;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Footer CSS */


.footer__container {
  background-color: #131313;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display:grid;
  flex-direction: row;
  align-items: flex-start;
  margin: 16px;
  text-align: center;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h3 {
  margin-bottom: 8px;
  color: #fff;
  background: linear-gradient(45deg, #4e54c8, #8f94fb, #4e54c8, #8f94fb);
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientMove 2s linear infinite;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color: #adabae;
  transition: 0.3 ease-out;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: row;
  }

}

@media screen and (max-width: 380px) {
  .footer__link--items {
    margin: 0;
    padding: 5px;
    width: 100%;
  }
}


.social-icon {
  font-size: 1.5rem;
}

.social-link {
  display: none;
}
.social-icon:hover{
  transform: scale(1.15);
}

#dev-button-1:hover .dev-1 {
  padding-top: 0.75rem;
  display: inline-block;
}

.dev-button {
  color: #fff;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 10px 20px;
  height: fit-content;
  min-width: 100%;
  border: none;
  outline: none;
  min-height: 40px;
  
}
.dev-button a{
  text-decoration: none;
  color: white;
}
.dev-button:hover{
   box-shadow: rgba(0, 0, 0, 0.9) 3px 3px 2px;
}

.icons-container {  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}

